doctype html
html(lang='en')
  head
    include partials/head
    title= title

  body
    .container
      <!--Begin Top-Nav-->
      include partials/top-nav

      <!--Begin Main Content-->
      .row
        .col-md-12
          <!--Begin Body Content-->
          h1#title= title
          block content
